.icon-button {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-darken);
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.icon-button:hover {
  transform: scale(1.1);
}

.icon-button:hover .icon-button__icon {
  opacity: 0.8;
}
