.icon-button {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-dark);
  box-shadow: 0 3px 0 0 var(--color-dark);
  cursor: pointer;
  transition: all 0.2s;
}

.icon-button:hover {
  background-color: var(--color-primary-medium);
}

