.icon-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-darken);
  transition: all 0.2s;
}

.icon-link:hover {
  transform: scale(1.1);
}

.icon-link:hover .icon-link__icon {
  opacity: 0.9;
}

.icon-link__icon {
  transition: all 0.2s;
}
