.info-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.info-card__content {
  display: flex;
  flex-direction: column;
}

.info-card__heading {
  margin: 0;
  font: 2.813rem/1.25em var(--font-family-primary);
  color: var(--color-dark);
  text-wrap: nowrap;
}

.info-card__text {
  margin: 0;
  font: var(--text);
  color: var(--color-dark);
}